.elements__delete {
  background-image: url(../../../images/Group-Trash.png);
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.elements__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
