.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 51px;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    margin: 0;
  }
}
