.header__info {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  padding-top: 7px;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
